.eventSpace {
    min-height: 1180px;
    max-width: 981px;
    margin: 0 auto;

    .eventPic {
        max-width: 981px;
        height: 300px;
        padding-top: 148px;
        z-index: 1;
        position: relative;

        img {
            width: 100%;
            height: 300px;
            object-fit: cover;

        }

        .event-overlay {
            width: 981px;
            height: 300px;
            position: absolute;
            background-color: rgba(238, 67, 103, 0.7);
            z-index: 2;
        }

        .eventArea {
            display: flex;
            justify-content: center;
            height: 300px;
            max-width: 981px;
            margin-top: -235px;
            z-index: 3;
            position: relative;

            .eventDate {
                width: 155px;
                height: 155px;
                background-color: #EE4367;
                color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                h1 {
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-size: 55px;
                    font-weight: bold;
                }

                h2 {
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-size: 31px;
                    font-weight: 100;
                    text-transform: uppercase;
                }
            }
        }

    }

    .eventParagraphs {
        margin-top: 55px;
        max-width: 856px;
        padding-left: 5px;
        padding-right: 5px;

        .event-paragraph-area {
            margin-top: 70px;
            h3 {
                color: #EE4367;
                font-size: 20px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                margin-bottom: 30px;
            }

            p {
                font-size: 20px;
                letter-spacing: 1.75px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-weight: 100;
                margin-bottom: 33px;
            }
        }

    }
}