nav {
    width: 51.7%;
    height: 92.5px;
    margin: 0 auto;
    border-bottom: 2px solid white;
    position: fixed;
    left: 24.2%;
    z-index: 99;
    display: flex;
    justify-content: space-between;

    .logo {
        margin-top: 30px;
        margin-left: -8px;
        cursor: pointer;

        img {
            width: 109px;
            height: 42px;
        }
    }

    .links {
        color: rgb(238, 67, 103);
        font-size: 35px;
        width: 400px;
        display: flex;
        justify-content: space-evenly;
        margin-top: 37px;

        a {
            color: white;
            font-size: 15px;
            text-decoration: none;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin-top: 7px;
        }
    }
}


.dark {
    border-bottom: 2px solid black;

    .logo {
        img {
            filter: invert(100%);
        }
    }

    .links {
        a {
            color: black;
        }
    }
}