.main-gallery-space {
    min-height: 640px;
    max-width: 981px;
    margin: 0 auto;
    padding-top: 156px;
    padding-left: 5px;

    .gallery-title {
        width: 220px;
        height: 31px;
        border-bottom: 2px solid black;
        margin-bottom: 30px;

        p {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 25px;
            letter-spacing: 1.5px;
            text-transform: uppercase;
        }
    }

    .gallery-images {
        display: flex;
        flex-wrap: wrap;

        .gal-image1 {
            width: 489px;
            height: 187px;
            margin-right: 20px;
            margin-bottom: 20px;

            img {
                width: 489px;
                height: 187px;
                object-fit: cover;
            }

            .gal-image1-overlay {
                position: absolute;
                width: 489px;
                height: 187px;
                background-color: rgba(255, 209, 64, 0.7);
            }
        }

        .gal-image2 {
            width: 187px;
            height: 187px;
            margin-right: 20px;
            margin-bottom: 20px;

            img {
                width: 187px;
                height: 187px;
                object-fit: cover;
            }

            .gal-image2-overlay {
                position: absolute;
                width: 187px;
                height: 187px;
                background-color: rgba(238, 67, 103, 0.7);
            }
        }

        .gal-image3 {
            width: 265px;
            height: 187px;
            margin-bottom: 20px;

            img {
                width: 265px;
                height: 187px;
                object-fit: cover;
            }

            .gal-image3-overlay {
                position: absolute;
                width: 265px;
                height: 187px;
                background-color: rgba(8, 173, 105, 0.7);
            }
        }

        .gal-image4 {
            width: 603px;
            height: 306px;
            margin-right: 20px;
            margin-bottom: 20px;

            img {
                width: 603px;
                height: 306px;
                object-fit: cover;
            }

            .gal-image4-overlay {
                position: absolute;
                width: 603px;
                height: 306px;
                background-color: rgba(84, 13, 110, 0.7);
            }
        }

        .gal-image5 {
            width: 358px;
            height: 306px;
            margin-bottom: 70px;

            img {
                width: 358px;
                height: 306px;
                object-fit: cover;
            }

            .gal-image5-overlay {
                position: absolute;
                width: 358px;
                height: 306px;
                background-color: rgba(59, 206, 171, 0.7);
            }
        }
    }
}

@media only screen and (max-width: 1002px) {
    .main-gallery-space {
        margin-left: 27%;

        .gallery-images {

            .gal-image2 {
                width: 220px;
                img {
                    width: 220px;
                }

                .gal-image2-overlay {
                    width: 220px;
                }
            }
            .gal-image3 {
                margin-right: 20px;
                width: 250px;
                img {
                    width: 250px;
                }

                .gal-image3-overlay {
                    width: 250px;
                }
            }

            .gal-image4 {
                height: 187px;
                width: 250px;
                img {
                    width: 250px;
                    height: 187px;
                }

                .gal-image4-overlay {
                    height: 187px;  
                    width: 250px;
                }
            }

            .gal-image5 {
                height: 187px;
                width: 220px;
                img {
                    width: 220px;
                    height: 187px;
                }

                .gal-image5-overlay {
                    height: 187px;  
                    width: 220px;
                }
            }
        }
    }
}

@media only screen and (max-width: 722px) {
    .main-gallery-space {
        margin-left: 0;

        .gallery-title {
            margin-left: auto;
            margin-right: auto;
        }
        .gallery-images {
            margin-left: 23%;
            .gal-image1 {
                width: 400px;
                img {
                    width: 400px;
                }

                .gal-image1-overlay {
                    width: 400px;
                }
            }

            .gal-image2 {
                width: 400px;
                img {
                    width: 400px;
                }

                .gal-image2-overlay {
                    width: 400px;
                }
            }
            .gal-image3 {
                margin-right: 20px;
                width: 400px;
                img {
                    width: 400px;
                }

                .gal-image3-overlay {
                    width: 400px;
                }
            }

            .gal-image4 {
                height: 187px;
                width: 400px;
                img {
                    width: 400px;
                    height: 187px;
                }

                .gal-image4-overlay {
                    height: 187px;  
                    width: 400px;
                }
            }

            .gal-image5 {
                height: 187px;
                width: 400px;
                img {
                    width: 400px;
                    height: 187px;
                }

                .gal-image5-overlay {
                    height: 187px;  
                    width: 400px;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .main-gallery-space {
        margin-left: 0;

        .gallery-title {
            margin-left: auto;
            margin-right: auto;
        }
        .gallery-images {
            margin-left: 8%;
            .gal-image1 {
                width: 400px;
                img {
                    width: 400px;
                }

                .gal-image1-overlay {
                    width: 400px;
                }
            }

            .gal-image2 {
                width: 400px;
                img {
                    width: 400px;
                }

                .gal-image2-overlay {
                    width: 400px;
                }
            }
            .gal-image3 {
                margin-right: 20px;
                width: 400px;
                img {
                    width: 400px;
                }

                .gal-image3-overlay {
                    width: 400px;
                }
            }

            .gal-image4 {
                height: 187px;
                width: 400px;
                img {
                    width: 400px;
                    height: 187px;
                }

                .gal-image4-overlay {
                    height: 187px;  
                    width: 400px;
                }
            }

            .gal-image5 {
                height: 187px;
                width: 400px;
                img {
                    width: 400px;
                    height: 187px;
                }

                .gal-image5-overlay {
                    height: 187px;  
                    width: 400px;
                }
            }
        }
    }
}
