.gallerySpace {
    height: 800px;
    max-width: 1280px;
    color: antiquewhite;

    .galleryPic1 {
        margin-left: auto;
        margin-right: auto;
        max-width: 980px;
        padding-top: 143px;

        .gal-overlay1 {
            background: rgba(255, 209, 64, 0.70);
            position: absolute;
            width: 980px;
            height: 400px;
            z-index: 2;
        }

        .gal-overlay2 {
            background: rgba(238, 67, 103, 0.70);
            position: absolute;
            width: 980px;
            height: 400px;
            z-index: 2;
        }

        .gal-overlay3 {
            background: rgba(8, 173, 105, 0.70);
            position: absolute;
            width: 980px;
            height: 400px;
            z-index: 2;
        }

        .gal-overlay4 {
            background: rgba(84, 13, 110, 0.70);
            position: absolute;
            width: 980px;
            height: 400px;
            z-index: 2;
        }

        .gal-overlay5 {
            background: rgba(59, 206, 171, 0.70);
            position: absolute;
            width: 980px;
            height: 400px;
            z-index: 2;
        }


        img {
            width: 100%;
            height: 400px;
            object-fit: cover;
            z-index: 1;
            position: relative;
        }

        .galText1 {
            display: flex;
            position: absolute;
            z-index: 3;
            margin-top: 120px;

            h1 {
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 300px;
                color: #FFD140;
                text-shadow: 0px 1px 10px black;
            }

            p {
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 140px;
                color: #FFD140;
                margin-top: 150px;
                text-shadow: 0px 1px 10px black;
            }
        }


        .galText2 {
            display: flex;
            position: absolute;
            z-index: 3;
            margin-top: 120px;

            h1 {
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 300px;
                color: #EE4367;
                text-shadow: 0px 1px 10px black;
            }

            p {
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 140px;
                color: #EE4367;
                margin-top: 150px;
                text-shadow: 0px 1px 10px black;
            }
        }

        .galText3 {
            display: flex;
            position: absolute;
            z-index: 3;
            margin-top: 120px;

            h1 {
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 300px;
                color: #08AD69;
                text-shadow: 0px 1px 10px black;
            }

            p {
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 140px;
                color: #08AD69;
                margin-top: 150px;
                text-shadow: 0px 1px 10px black;
            }
        }

        .galText4 {
            display: flex;
            position: absolute;
            z-index: 3;
            margin-top: 120px;

            h1 {
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 300px;
                color: #540D6E;
                text-shadow: 0px 1px 10px black;
            }

            p {
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 130px;
                color: #540D6E;
                margin-top: 150px;
                text-shadow: 0px 1px 10px black;
            }
        }

        .galText5 {
            display: flex;
            position: absolute;
            z-index: 3;
            margin-top: 120px;

            h1 {
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 300px;
                color: #3BCEAB;
                text-shadow: 0px 1px 10px black;
            }

            p {
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 140px;
                color: #3BCEAB;
                margin-top: 150px;
                text-shadow: 0px 1px 10px black;
            }
        }

    }

    .paragraphsGal1 {
        margin-top: 50px;
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        max-width: 980px;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;

        p {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: lighter;
            font-style: italic;
            font-size: 16px;
            color: black;
            letter-spacing: 0.5px;
        }



        #pGal1 {
            width: 470px;
            margin-right: 40px;
        }

        #pGal2 {
            width: 470px;
        }

    }
}

@media only screen and (max-width: 1000px) {
    .gallerySpace {
        .galleryPic1 {
            .textWrapperGal1 {
                text-align: center;
                display: flex;
                justify-content: center;

                .galText1 {
                    margin-top: 230px;

                    h1 {
                        font-size: 170px;
                    }

                    p {
                        font-size: 100px;
                        margin-top: 65px;
                    }
                }

                .galText2 {
                    margin-top: 230px;

                    h1 {
                        font-size: 170px;
                    }

                    p {
                        font-size: 100px;
                        margin-top: 65px;
                    }
                }

                .galText3 {
                    margin-top: 230px;

                    h1 {
                        font-size: 170px;
                    }

                    p {
                        font-size: 100px;
                        margin-top: 65px;
                    }
                }

                .galText4 {
                    margin-top: 230px;

                    h1 {
                        font-size: 170px;
                    }

                    p {
                        font-size: 90px;
                        margin-top: 75px;
                    }
                }

                .galText5 {
                    margin-top: 230px;

                    h1 {
                        font-size: 170px;
                    }

                    p {
                        font-size: 100px;
                        margin-top: 65px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 700px) {

    .gallerySpace {
        height: 900px;

        .galleryPic1 {
            .textWrapperGal1 {
                text-align: center;
                display: flex;
                justify-content: center;

                .galText1 {
                    margin-top: 290px;

                    h1 {
                        font-size: 110px;
                    }

                    p {
                        font-size: 60px;
                        margin-top: 47px;
                    }
                }

                .galText2 {
                    margin-top: 290px;

                    h1 {
                        font-size: 110px;
                    }

                    p {
                        font-size: 60px;
                        margin-top: 47px;
                    }
                }

                .galText3 {
                    margin-top: 290px;

                    h1 {
                        font-size: 110px;
                    }

                    p {
                        font-size: 60px;
                        margin-top: 47px;
                    }
                }

                .galText4 {
                    margin-top: 290px;

                    h1 {
                        font-size: 110px;
                    }

                    p {
                        font-size: 60px;
                        margin-top: 47px;
                    }
                }

                .galText5 {
                    margin-top: 290px;

                    h1 {
                        font-size: 110px;
                    }

                    p {
                        font-size: 60px;
                        margin-top: 47px;
                    }
                }
            }
        }
    }
}